[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
alembic = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
bcrypt = "==4.0.1"

[dev-packages]

[scripts]
dev="uvicorn app.main:app --reload"
start="uvicorn app.main:app"

[requires]
python_version = "3.11"
